<section class="first">
    <ul>
        <li style="--i:1;">
            <img>
            <div class="content">
                <h4>
                    Project01
                </h4>
            </div>
        </li>
        <li style="--i:2;">
            <img>
            <div class="content">
                <h4>
                    Project02
                </h4>
            </div>
        </li>
        <li style="--i:3;">
            <img>
            <div class="content">
                <h4>
                    Project03
                </h4>
            </div>
        </li>
        <li style="--i:4;">
            <img>
            <div class="content">
                <h4>
                    Project04
                </h4>
            </div>
        </li>
        <li style="--i:5;">
            <img>
            <div class="content">
                <h4>
                    Project05
                </h4>
            </div>
        </li>
    </ul>
</section>
