<section>
    <div class="containerLeft">
    </div>
    <div class="containerRight">
        <div class="icon">
            <a href="#"><div class="imgBox" style="--i:1;"><img src="../../assets/facebook.svg" alt="facebook"></div></a>
            <a href="#"><div class="imgBox" style="--i:2;"><img src="../../assets/instagram.svg" alt="instagram"></div></a>
            <a href="https://www.linkedin.com/in/everson-menezes-santos/"><div class="imgBox" style="--i:3;"><img src="../../assets/linkedin.svg" alt="linkedin"></div></a>
            <a href="https://github.com/Everson-Menezes/Everson-Menezes"><div class="imgBox" style="--i:4;"><img src="../../assets/github.svg" alt="GitHub"></div></a>
            <a href="#"><div class="imgBox" style="--i:5;"><img src="../../assets/whatsapp.svg" alt="whatsapp"></div></a>
        </div>

        <div class="content">
            <img class="everson" src="../../assets/everson.jpeg" alt="everson's">
        </div>
    </div>
</section>