<section>
    <div class="topleft">
        <img src="../../assets/coffe.jpg" alt="coffe">
        <div class="content">
            <p class="--i">
                “I’m a software developer who has been working in the field for eight years. I’m passionate about creating quality products that meet all of the customer’s needs, and I love learning new techniques and technologies that allow me to make that happen.”
                
                “I’m a software developer who has been working in the field for eight years. I’m passionate about creating quality products that meet all of the customer’s needs, and I love learning new techniques and technologies that allow me to make that happen.”
            </p>
        </div>
    </div>
    <div class="center">
        <img src="../../assets/joy.jpg" alt="coffe">
        <div class="content">
            <p class="--ii">
                “I’m a software developer who has been working in the field for eight years. I’m passionate about creating quality products that meet all of the customer’s needs, and I love learning new techniques and technologies that allow me to make that happen.”
                
                “I’m a software developer who has been working in the field for eight years. I’m passionate about creating quality products that meet all of the customer’s needs, and I love learning new techniques and technologies that allow me to make that happen.”

                “I’m a software developer who has been working in the field for eight years. I’m passionate about creating quality products that meet all of the customer’s needs, and I love learning new techniques and technologies that allow me to make that happen.”
            </p>
        </div>
    </div>
    <div class="bottomright">
        <img src="../../assets/note.jpg" alt="coffe">
        <div class="content">
            <p class="--iii">
                “I’m a software developer who has been working in the field for eight years. I’m passionate about creating quality products that meet all of the customer’s needs, and I love learning new techniques and technologies that allow me to make that happen.”

                “In 2012, I graduated from the University of Chicago with a degree in software development, and from there I went straight into an internship at Chicago Technologies. During the year I was there, I learned how to develop software at a professional level and got practice communicating with clients and estimating projects.”

                “After that, I started working at Illinois Software Company as a junior developer. A year into that job, I was promoted to senior developer, which meant I handled my own projects and checked the junior developers’ before they went to the client. I held that position until the company went under last month.”
                
                “I’ve loved working with computers since I was young, and that, coupled with my love of building things and solving problems, led me to begin college as a software engineering major. I continued to fall in love with the field as I completed my coursework, and that’s only continued as I’ve begun my career.”
            </p>
        </div>
    </div>
</section>