section{
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    min-height: 50vh;
    gap: 0;
}

img{
    width: 250px;
    height: 250px;
}

.topleft{
    margin-right: 50%;
}

.center{
}

.bottomright{
    margin-left: 50%;
}
